<html>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <picture  class="login100-form-title">
          <img mat-card-image [src]="logoImage" alt="" />
        </picture>
<div class="card">
  
        <form class="login100-form validate-form">

          
          <div
            class="wrap-input100 validate-input m-b-26"
            data-validate="Username is required"
          >
            <span class="label-input100"> <mat-label>Usuario</mat-label> </span
            >&nbsp;
            <input
              class="input100"
              matInput
              type="text"
              name="usuario"
              placeholder="Ingresa Tu Usuario"
              [(ngModel)]="usuario"
            />

            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input m-b-18"
            data-validate="Password is required"
          >
            <span class="label-input100">
              <mat-label>Contraseña</mat-label> </span
            >&nbsp;
            <input
              class="input100"
              matInput
              type="password"
              name="password"
              placeholder="Ingresa Tu Contraseña"
              [(ngModel)]="password"
            />

            <span class="focus-input100"></span>
          </div>

          <div class="flex-sb-m w-full p-b-30">
            <br />
            <br />

            <button
              mat-raised-button
              class="login100-form-btn"
              (click)="getUsuario()"
            >
              <mat-icon>people</mat-icon> Iniciar Sesion
            </button>
          </div>
         
        </form> </div>
        <picture>
          <img mat-card-image [src]="logoImagei" alt="" />
        </picture>
      </div>
    </div>
  </div>
</html>
