@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.html { background-color: rgba(214, 214, 214, 0.459); }

.form {
 
  
  z-index: 1;
  background: #FFFFFF;
 
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.main-div{
  height: 100vh;
  display: flex;
  
  margin: 0px 15px 0px 15px;
  justify-content: center;
  align-items: center;
}
body {
  background: rgba(214, 214, 214, 0.459);;
}
.custom-button{
  position: absolute;
  right: 30px;
  top: 15px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #436ba0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}




